---
import WikiSidebar from '../../components/WikiSidebar/index.jsx';
import PageLayout from '../PageLayout/index.astro';
import { getCollection } from 'astro:content';
import styles from './WikiLayout.module.css';

const wikiEntries = await getCollection('wiki');
---

<PageLayout noLayout>
  <div class={styles.wikiLayout}>
    <div class={styles.wikiSidebarContainer}>
      <WikiSidebar entries={wikiEntries} client:load="react" />
    </div>

    <div class={styles.wikiArticle}>
      <slot />
    </div>
  </div>
</PageLayout>
